* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    font-family: poppins;
    height: 100vh;
    font-weight: 600;
    font-size: 23px;
}

.image {
    background-image: url(hotel.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(4px);
}

a {
    text-decoration: none;
}

header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 400px;
}

.nav-area {
    list-style: none;
    background-color: rgb(118, 127, 138);
    margin: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0%;
    padding: 7px 30px;
}

.nav-area li {
    float: left;
}

.nav-area li a {
    transition: .5s;
    border: solid rgb(0, 0, 0) 1px;
    display: block;
    border-radius: 10px;
    background-color: rgb(88, 86, 86);
    color: #000;
    font-size: 120%;
    text-align: center;
    padding: 6px;
    width: auto;
    height: auto;
}

.nav-area li a:hover {
    background-color: rgb(6, 143, 109);
    color: rgb(255, 255, 255);
}

.special {
    font-family: sans-serif;
    margin: 100px auto;
    font-;
    color: #3B5998;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: absolute;
    text-align: center;
    position: absolute;
    left: 28%;
    top: 30%;
    width: 50%;
}

h1 {
    display: flex;
    flex-direction: row;
}

h1:before,
h1:after {
    content: "";
    flex: 1 1;
    border-bottom: black solid 3px;
    display: block;
    width: 120px;
    margin: auto;
}

a:hover {
    background-color: rgb(6, 143, 109);
    color: rgb(255, 255, 255);
}